.header {
    position: fixed;
    transition: transform .25s .1s ease-in-out;
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.header .hide  {
    transform: translate3d(0, -10vh, 0);
}

.header-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;

}

.logo {
    height: 50px;
    width: 50px;

    &:hover {
        height: 60px;
        width: 60px;
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-buttons {
    margin-right: 5%;
    text-decoration: none;
    color: white;

    &:hover {
        cursor: pointer;
        color: #FA2759;
    }
}