<div class="footer-container">
    <div class="content-container">
        <div class="link-container">
            <a routerLink="/impressum">Impressum</a>
            <span>-</span>
            <a routerLink="/Legal-Notice">Legal Notice</a>

        </div>
        <div class="icon-container">
            <a href="https://www.linkedin.com/in/hagen-struve-99a1611a2/" target="_blank"><img class="icons" src="assets/linkedin-box-fill.png"></a>
            <a href="https://github.com/HagenStruve" target="_blank"><img  class="icons" src="assets/github-fill.png"></a>
            <a href="https://github.com/HagenStruve" target="_blank"><img class="icons" src="assets/xing-fill.png"></a>
        </div>
    </div>
</div>