.footer-container {
    height: 20vh;
    background-color: white;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.link-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
        color: black;
        font-size: calc(10px + (10) * ((100vw - 320px) / (1600 - 320)));
    
        &:hover{
            color: blue;
        }
    }

    @media screen and (max-width: 470px) {
        flex-direction: column;
    }

    span {
        font-size: calc(10px + (10) * ((100vw - 320px) / (1600 - 320)));
        color: black;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.icon-container {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons {
    height: 50px;
    width: 50px;

    &:hover {
        cursor: pointer;
        filter: brightness(0.5);
    }
}