<div id="ABOUT" class="about-me-body">
    <div class="about-me-container">
        <div class="about-me-header">
            <div class="profil-img"></div>
            <div>
                <h1>About me.</h1>
                <div>"Ich bin 28 Jahre Alt und Junior Frontend-Entwickler"</div>
            </div>
        </div>
        <div class="border"></div>
        <div class="journey-container">
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/walk-line.png">
                </div>
                <span>MY JOURNEY BEGAN</span>
                <span>Mit dem Computer aufgewachsen, habe ich zunächst eine Ausbildung zum Landwirt abgeschlossen und
                    bin als Betriebsleiter im Elterlichen Hof eingestiegen. Nach einer schweren Entscheidung habe ich
                    mich entschlossen meinen Lebensunterhalt in einem anderen Bereich zu verdienen.</span>
            </div>
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/search-line.png">
                </div>
                <span>MY SEARCH</span>
                <span>Ich habe nach einer Brache gesucht die mir spaß bringt, in der ich Wachsen kann und die mir
                    Flexibilität bietet. Bei dem Lehrgang in der Developer Akademie habe ich diese Branche
                    gefunden.</span>
            </div>
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/heart-line.png">
                </div>
                <span>MY PASSION</span>
                <span>Das Erstellen von einer app aus dem nichts hat mich gleich nach den ersten Programmiererfahrungen
                    begeistert. Komplizierte Bugs sind immer wieder eine Herausforderung, sie zu lösen macht spaß und
                    lässt einem keine lange Weile aufkommen.</span>
            </div>
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/flight-takeoff-line.png">
                </div>
                <span>MY GOALS</span>
                <span>Ich möchte meine neu erlernten Fähigkeiten in einem Job als Frontend-Webentwickler verfestigen und
                    weiter ausbauen. In naher Zukunft möchte ich mich auch mit Backendentwicklung beschäftigen um später
                    Fullstackentwickler zu werden.</span>
            </div>
        </div>
    </div>
</div>