<div id="ABOUT" class="about-me-body">
    <div class="about-me-container">
        <div class="about-me-header">
            <div class="profil-img"></div>
            <div class="profil-text">
                <h1>Über mich.</h1>
                <span>"Ich bin 28 Jahre alt und ein Junior-Frontend-Entwickler"</span>
            </div>
        </div>
        <div class="border"></div>
        <div class="journey-container">
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/walk-line.png">
                </div>
                <span>MEINE REISE BEGANN</span>
                <span>Mit dem Computer aufgewachsen, habe ich zunächst eine Ausbildung zum Landwirt absolviert und
                    bin als Betriebsleiter in den elterlichen Betrieb eingestiegen. Nach einer schwierigen Entscheidung
                    habe ich
                    beschlossen, meinen Lebensunterhalt in einem anderen Bereich zu verdienen.</span>
            </div>
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/search-line.png">
                </div>
                <span>MEINE SUCHE</span>
                <span>Ich suchte eine Arbeit, die mir Spaß macht, an der ich wachsen kann und die Flexibilität
                    bietet. Im Kurs an der Developer Academy habe ich diese Arbeit
                    gefunden.</span>
            </div>
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/heart-line.png">
                </div>
                <span>MEINE PASSION</span>
                <span>Eine App von Grund auf neu zu erstellen, hat mich gleich nach den ersten Programmiererfahrungen
                    begeistert. Komplizierte Bugs sind immer eine Herausforderung, sie zu lösen macht Spaß und
                    lässt keine Langeweile aufkommen.</span>
            </div>
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/flight-takeoff-line.png">
                </div>
                <span>MEINE ZIELE</span>
                <span>Meine neu erlernten Fähigkeiten möchte ich in einem Job als Frontend-Webentwickler festigen und
                    erweitern. Nach einiger Zeit möchte ich mich mit der Backend-Entwicklung beschäftigen, um später ein
                    Full-Stack-Entwickler zu werden.</span>
            </div>
        </div>
    </div>
</div>