<div id="ABOUT" class="about-me-body">
    <div class="about-me-container">
        <div class="about-me-header">
            <div class="profil-img"></div>
            <div>
                <h1>About me.</h1>
                <div>"I'm 28 years old and a junior frontend developer"</div>
            </div>
        </div>
        <div class="border"></div>
        <div class="journey-container">
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/walk-line.png">
                </div>
                <span>MY JOURNEY BEGAN</span>
                <span>Growing up with the computer, I first completed an apprenticeship as a farmer and
                    I joined the parental farm as manager. After a difficult decision I have
                    I decided to earn my living in another field.</span>
            </div>
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/search-line.png">
                </div>
                <span>MY SEARCH</span>
                <span>I was looking for a field that would be fun for me, where I could grow and that would give me
                    offers flexibility. In the course at the Developer Academy I have this branch
                    found.</span>
            </div>
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/heart-line.png">
                </div>
                <span>MY PASSION</span>
                <span>Creating an app from scratch got me right after the first programming experiences
                    excited. Complicated bugs are always a challenge, solving them is fun and
                    doesn't let you get bored.</span>
            </div>
            <div class="journey-text-container">
                <div class="about-me-icons">
                    <img src="assets/flight-takeoff-line.png">
                </div>
                <span>MY GOALS</span>
                <span>I would like to consolidate my newly learned skills in a job as a frontend web developer and
                    expand. After some time I would like to deal with backend development and later
                    to become a full stack developer.</span>
            </div>
        </div>
    </div>
</div>