<div id="PORTFOLIO" class="my-work-container">
    <h1 data-aos="fade-up-left">My work</h1>

    <div data-aos="fade-up-left" class="sorted-container">
        <div (click)="all()" class="sorted-box">
            <span>All</span>
        </div>
        <div (click)="angular()" class="sorted-box">
            <span>Angular</span>
        </div>
        <div (click)="javaScript()" class="sorted-box">
            <span>JavaScript</span>
        </div>
    </div>

    <div data-aos="fade-up-left" class="project-container">
        
        <div *ngFor="let project of tool; let i = index" class="project">
            <img class="project-image" src="{{ project.image }}">
            <div class="try-out-container">
                <h2>{{ project.name }}</h2>
                <div>{{ project.text }}</div>
                <a href="{{ project.url }}" target="_blank" class="try-out-button">Try out</a>
                <a href="{{ project.urlGithub }}" target="_blank" class="try-out-button">Github</a>
            </div>
        </div>

    </div>

</div>