<div class="my-work-container">
    <h1 id="PORTFOLIO">My work</h1>

    <div class="sorted-container">
        <div (click)="all()" class="sorted-box">
            <span>All</span>
        </div>
        <div (click)="angular()" class="sorted-box">
            <span>Angular</span>
        </div>
        <div (click)="javaScript()" class="sorted-box">
            <span>Java Script</span>
        </div>
    </div>

    <div class="project-container">
        
        <div *ngFor="let project of tool; let i = index" class="project">
            <img class="project-image" src="{{ project.image }}">
            <div class="try-out-container">
                <h2>{{ project.name }}</h2>
                <div>{{ project.text }}</div>
                <a href="{{ project.url }}" target="_blank" class="try-out-button">Try out</a>
                <a href="{{ project.urlGithub }}" target="_blank" class="try-out-button">Github</a>
            </div>
        </div>

        <!-- <div class="project">
            <img class="project-image" src="assets/Elpolloloco.png">
            <div class="try-out-container">
                <h2>El Pollo Loco</h2>
                <div>Java Script -baded jump and run game</div>
                <a href="https://hagen-struve.developerakademie.net/Developer%20Akademie/module/modul_11/El_Pollo_Loco/index.html" target="_blank" class="try-out-button">Try out</a>
                <a href="https://github.com/HagenStruve/El_Pollo_Loco" target="_blank" class="try-out-button">Github</a>
            </div>
        </div>
        <div class="project">
            <img class="project-image" src="assets/Join.png">
            <div class="try-out-container">
                <h2>Join</h2>
                <div>Java Script -Kanbanboard</div>
                <a href="https://hagen-struve.developerakademie.net/Developer%20Akademie/module/modul_10/Join/html/summary.html" target="_blank" class="try-out-button">Try out</a>
                <a href="https://github.com/HagenStruve/Join-Gruppenarbeit" target="_blank" class="try-out-button">Github</a>
            </div>
        </div>
        <div class="project">
            <img class="project-image" src="assets/Pokedex.png">
            <div class="try-out-container">
                <h2>Pokedex</h2>
                <div>Javascript -build with API</div>
                <a href="https://hagen-struve.developerakademie.net/Developer%20Akademie/module/modul_9/Projekte/Pokedex/index.html" target="_blank" class="try-out-button">Try out</a>
                <a href="https://github.com/HagenStruve/Pokedex" target="_blank" class="try-out-button">Github</a>
            </div>
        </div>
        <div class="project">
            <img class="project-image" src="assets/Portfolio.png">
            <div class="try-out-container">
                <h2>Portfolio</h2>
                <div>This is Angular project</div>
                <a href="https://hagen-struve.de" target="_blank" class="try-out-button">Try out</a>
                <a href="https://github.com/HagenStruve/Portfolio" target="_blank" class="try-out-button">Github</a>
            </div>
        </div> -->

    </div>

</div>