<div class="my-work-container">
    <h1 id="PORTFOLIO">My work</h1>

    <div class="sorted-container">
        <div class="sorted-box">
            <span>All</span>
        </div>
        <div class="sorted-box">
            <span>Angular</span>
        </div>
        <div class="sorted-box">
            <span>Java Script</span>
        </div>
    </div>

    <div class="project-container">
        <div class="project">
            <img class="project-image" src="assets/elpolloloco.png">
            <div class="try-out-container">
                <h2>El Pollo Loco</h2>
                <div>Java Script -baded jump and run game</div>
                <div class="try-out-button">Try out</div>
                <div class="try-out-button">Github</div>
            </div>
        </div>
        <div class="project">
            <img class="project-image" src="assets/elpolloloco.png">
            <div class="try-out-container">
                <h2>Join</h2>
                <div>Java Script -Kanbanboard</div>
                <div class="try-out-button">Try out</div>
                <div class="try-out-button">Github</div>
            </div>
        </div>
        <div class="project">
            <img class="project-image" src="assets/elpolloloco.png">
            <div class="try-out-container">
                <h2>Ring of Fire</h2>
                <div>Angular -Card game with player and database</div>
                <div class="try-out-button">Try out</div>
                <div class="try-out-button">Github</div>
            </div>
        </div>
        <div class="project">
            <img class="project-image" src="assets/elpolloloco.png">
            <div class="try-out-container">
                <h2>Pokedex</h2>
                <div>Javascript -build with API</div>
                <div class="try-out-button">Try out</div>
                <div class="try-out-button">Github</div>
            </div>
        </div>
    </div>

</div>