.my-work-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: default;
}

.sorted-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sorted-box {
    background-color: black;
    border: 1px #FA2759 solid;
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:hover {
        background-color: #FA2759;
        color: white;
        cursor: pointer;
    }
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    flex-wrap: wrap;
    width: 100%;
}

.project {
    height: 300px;
    width: 300px;
    display: flex;
    margin-top: 20px;

    img {
        position: absolute;
        z-index: 2;
        height: 300px;
        width: 300px;
        object-fit: cover;
        margin-top: 20px;


        &:hover {
            z-index: 0;
        }
    }
}

.try-out-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    z-index: 1.9;
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;

    &:hover {
        z-index: 2;
    }

    h2 {
        color: #FA2759;
    }
}

.try-out-button {
    color: #FA2759;
    background-color: white;
    border: 1px #FA2759 solid;
    height: 40px;
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}