.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: #A8A8A8;
    overflow: hidden;

    h1 {
        color: #2EFCD8;
    }

    span {
        font-size: calc(10px + (21) * ((100vw - 320px) / (1600 - 320)));
        margin-bottom: 15px;
        width: 60%;
    }

    @media screen and (max-width: 500px) {
        margin-bottom: 20px;

        span {
            font-size: calc(15px + (21) * ((100vw - 320px) / (1600 - 320)));
            margin-bottom: 0px;
            width: 100%;
        }
    }
}

.contact-form {
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width: 500px) {
        width: 90%;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (max-width: 500px) {
        span {
            margin-bottom: 10px;
        }

        input {
            margin-bottom: 10px;
        }
    }
}

.required-fields {
    color: #989898;
    background-color: #1A1A1A;
    border: none;
    height: 3vh;
}

.message-field {
    color: #989898;
    background-color: #1A1A1A;
    height: 20vh;
    border: none;
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.send-button {
    color: #2EFCD8;
    background-color: black;
    border: 1px #2EFCD8 solid;
    height: 40px;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 6px;


    &:hover {
        cursor: pointer;
        background-color: #2EFCD8;
        color: white;
    }
}

.loadbox {
    position: absolute;
    width: 50vw;
    height: 10vh;
    border-radius: 10px;
    background-color: black;
    border: 1px solid;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.d-none {
    display: none;
}