<div class="contact-container">
    <h1 id="Contact">Contact me.</h1>
    <span>Get in touch via the form below, or by emailing Struve94@web.de</span>
    <form class="contact-form">
        <div class="input-container">
            <span>Name</span>
            <input class="required-fields" placeholder="Enter your name">
        </div>
        <div class="input-container">
            <span>Email address</span>
            <input class="required-fields" placeholder="Enter your Email address">
        </div>
        <div class="input-container">
            <span>Message</span>
            <input class="message-field" placeholder="Enter your message">
        </div>
        <div class="button-box">
            <button class="send-button">Send</button>
        </div>
    </form>
</div>