<app-header></app-header>
<app-presentation-box></app-presentation-box>
<app-my-skills></app-my-skills>
<app-my-work></app-my-work>
<app-about-me></app-about-me>
<app-contact-me></app-contact-me>
<app-footer></app-footer>




<!-- HTML LINKS ZUM EINBINDEN

<a target="_blank" href="https://icons8.com/icon/26141/eingekreistes-rangabzeichen-unten">Eingekreistes Rangabzeichen Unten</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/71256/angularjs">AngularJS</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->