<div id="myskills" class="skill-body ">
    <div class="skill-container">
        <h1 data-aos="fade-right">MY Skills</h1>
        <div class="skill-box">

            <div data-aos="fade-right" *ngFor="let mySkill of mySkills" class="skill-background">
                <div class="skill">
                    <div class="skill-img-container">
                        <img src="assets/{{ mySkill.skillImg }}.png">
                    </div>
                    <div>{{ mySkill.skillName }}</div>
                </div>
            </div>
        </div>
    </div>
</div>