<div id="HOME">
    <div class="presentation-box">
        <div class="presentation-text">
            <div>Hi, I'm <span class="name">Hagen</span> Struve <br>
                Front End develop<span class="letter">e</span>r</div>
            <a href="#Contact" class="contact-bottom">Contact me</a>
        </div>
        <div class="img-container">
        </div>
    </div>
    <div class="next-step">
        <a href="#myskills"><img src="assets/icons8-eingekreistes-rangabzeichen-unten-50.png"></a>
    </div>
</div>