<div>
    <div class="presentation-box">
        <div class="presentation-text">
            <div>Hi, I'm <span class="name">Hagen</span> Struve <br>
                Front End develop<span class="letter">e</span>r</div>
            <button class="contact-bottom">Contact me</button>
        </div>
        <div class="img-container">
            <img src="assets/Foto.jpg">
        </div>
    </div>
    <div class="next-step">
        <img src="assets/icons8-eingekreistes-rangabzeichen-unten-50.png">
    </div>
</div>